.card{
    border-radius: 15px;
    background-image: linear-gradient(pink,lightblue,rgb(226, 120, 226));
    
}
.container {
   
    border: 1px;
    border-color:ghostwhite;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 5px;
    box-shadow: 10px;
}
.container>h2{
    text-align: center;
    text-decoration: underline;
}
